<link rel="stylesheet" href="intro.page.scss" />
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-button-compontents></app-button-compontents>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/logo.png" alt="Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <swiper-container
    [loop]="true"
    [pagination]="true"
    [slidesPerView]="1"
    [autoplay]="{ delay: 3000 }"
  >
    <swiper-slide>
      <div class="slide-content">
        <img
          src="https://infolocal.comfenalcoantioquia.com/media/com_jbusinessdirectory/pictures/events/12643/morat.jpg"
        />
        <h1 class="red-title">MORAT</h1>
        <p>
          Morat celebrará en Bogotá por 2, luego de agotar un estadio El Campín
          en 12 horas, ahora anuncia una nueva fecha el 7 de Julio de
          2024,cuando la banda Bogotá Morat rompa récords en su ciudad con 2
          Estadios El Campín.
        </p>
        <p>Más informacion</p>
        <div class="additional-info">
          <p>Date: Julio 13, 2024</p>
          <p>Location: Medellin, Col</p>
          <p></p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="https://tuboleta.com/imagenes/65a06fe9e2c98.webp" />
        <h1 class="red-title">JUANES COLOMBIA</h1>
        <p>
          El parcero de Colombia recorrerá su país en una gira nacional por
          cinco ciudades luego de un año apoteósico para su carrera: cuatro
          nominaciones/gramófonos en los Latin Grammy 2023 estableciendo un
          nuevo récord como el artista solista latinoamericano con más
          nominaciones y estatuillas en la historia de estos importantes
          premios; una exitosa gira por Europa y América Latina; el histórico
          concierto en la segunda edición del Festival Cordillera, y los dos
          SOLD OUT junto a Morat en el Estadio Atanasio Girardot de Medellín.
        </p>

        <p>Más informacion</p>
        <div class="additional-info">
          <p>Date: December 12, 2022</p>
          <p>Location: National Geographic</p>
          <p>Style: Modern</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="https://tuboleta.com/imagenes/650dba07b8cc3.webp" />
        <h1 class="red-title">MORRISSEY - 40 AÑOS</h1>
        <p>
          El maravilloso Steven Patrick Morrissey cumplirá su promesa en vivo
          con Colombia el próximo 10 de febrero en el Movistar Arena de Bogotá,
          para celebrar una fecha con todos y todas sus fans en Colombia. Un
          escenario más amplio para una experiencia más potente.
        </p>
        <p>Más informacion</p>
        <div class="additional-info">
          <p>Date: Julio 13, 2024</p>
          <p>Location: Movistar Arena</p>
          <p>CIUDAD: Bogotá</p>
          <p>Hora: 9:00 PM</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
