<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container>
    [loop]="true" [pagination]="true"

    <swiper-slide>slide 1</swiper-slide>
    <swiper-slide>slide 1</swiper-slide>
    <swiper-slide>slide 1</swiper-slide>
    <swiper-slide>slide 1</swiper-slide>
    <swiper-slide>slide 1</swiper-slide>
    <swiper-slide>slide 1</swiper-slide>
    <swiper-slide>slide 1</swiper-slide>
  </swiper-container>
</ion-content>
